

h3 {
    position: relative;
    top: 10%;
    left: 45%;
}

nav {
    display: flex;
    background-image: linear-gradient(skyblue, darkblue);
}

nav a {
    margin: 0 3rem;
    padding: 1rem;
    text-decoration: none;
    color: antiquewhite;
    transition: all 500ms ease;
    font-size: 1em;
}

nav a:hover {
    color:lightblue;
    font-size: 1.1em;
}

.grid-container {
    margin: 1em;
    display: grid;
    grid-template: repeat(8, 1fr) repeat(8, 1fr);
    /* grid-template: repeat(auto-fill, minmax(280px, 1fr)) repeat(auto-fill, minmax(280px, 1fr)); */
    grid-gap: 20px;
}

.grid-item {
    border: 2px solid black;
}

.first {
    grid-column: 1/5;
    grid-row: 1/4;
}

.second {
    grid-column: 5/9;
    grid-row: 1/6;
}

.third {
    grid-column: 1/3;
    grid-row: 4/6;
}

.fourth {
    grid-column: 3/5;
    grid-row: 4/6;
}

.fifth {
    grid-column: 1/5;
    grid-row: 6/9;
}

.sixth {
    grid-column: 5/9;
    grid-row: 6/9;
}

img {
    width: 100%;
    height: 100%;
}